.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.topIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 76px;
  margin: 0 auto;
}

.title {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 900;
  color: rgb(36, 39, 42);
  font-size: calc(30px + 8 * ((100vw - 300px) / 1300));
  overflow-wrap: break-word;
}

.listBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;

  .field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    background-color: rgba(243, 243, 243, 1);
    border-radius: 8px;
    transition: all 500ms ease 0s;

    .title {
      margin: 0;
      color: #272729;
      font-weight: 500 !important;
      font-size: 0.8rem !important;
    }

    .value {
      color: #272729;
      font-weight: 900;
      font-size: 16px;
      text-align: right;
    }

    :global(.ant-input) {
      background-color: rgb(39, 39, 41) !important;
      color: #fff !important;
      word-break: break-all;
      padding: 15px;
      font-size: 14px;
      line-height: 16px;
      font-weight: 900;
    }
  }
}

.description {
  line-height: 150%;
  margin: 25px 0px;
  font-size: 16px;
  color: rgb(114, 114, 122);
  font-weight: 400;
}

.recoveryLinkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.07) 0 45px 56px, rgba(0, 0, 0, 0.043) 0 10.0513px 12.5083px, rgba(0, 0, 0, 0.027) 0 2.99255px 3.72406px;
  border-radius: 8px;
  padding: 15px;

  .recoveryLinkInput {
    line-height: 2rem;
    font-weight: 900;
    background-color: rgb(39, 39, 41) !important;
    color: #fff !important;
  }

  .copyButton {
    color: #ff5b00;
    border-color: rgb(240, 240, 241);
    background: rgb(240, 240, 241);
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px 6px;
    text-transform: none;
    box-shadow: unset;
    font-weight: 900;
  }

  .recoveryLinkSpinWrapper {
    width: 100%;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;

  .button {
    min-width: 200px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px 6px;
    text-transform: none;
  }
}

.link {
  font-weight: 500;
}

.codeInput {
  position: relative;
  display: block;
  width: 280px;
  margin: 40px auto;
  height: 50px;

  .verifyForm {
    display: flex;
    align-items: center;
    justify-content: space-between;

    >span {
      width: 10%;
      height: 30px;
      font-size: 18px;
      text-align: center;
      border-bottom: 3px solid #ccc;
    }

    .highLight {
      border-bottom: 3px solid #ff5b00;
    }
  }

  .verifyInput {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    opacity: 0;
  }
}

.exchanges {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 15px;
  margin-top: 30px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    padding: 10px;
    border: 2px solid rgb(245, 245, 243);
    border-radius: 8px;
    transition: all 100ms ease 0s;

    img {
      max-width: 100%;
    }
  }
}

.socialButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.stepContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -300px;
}
