.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.topIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 76px;
  margin: 0 auto;
}

.title {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.listBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;

  .field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    background-color: rgba(243, 243, 243, 1);
    border-radius: 8px;
    transition: all 500ms ease 0s;

    .title {
      margin: 0;
      color: #272729;
      font-weight: 900;
    }

    .value {
      color: #272729;
      font-weight: 600;
      font-size: 16px;
      text-align: right;
    }

    :global(.ant-input) {
      background-color: rgba(30, 30, 30, 1) !important;
      color: #fff !important;
      word-break: break-all;
      padding: 15px;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.description {
  color: rgb(114, 114, 122);
  line-height: 150%;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;

  .button {
    min-width: 200px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px 6px;
    text-transform: none;
  }
}

.codeInput {
  position: relative;
  display: block;
  width: 280px;
  margin: 40px auto;
  height: 50px;

  .verifyForm {
    display: flex;
    align-items: center;
    justify-content: space-between;

    >span {
      width: 10%;
      height: 30px;
      font-size: 18px;
      text-align: center;
      border-bottom: 3px solid #ccc;
    }

    .highLight {
      border-bottom: 3px solid #ff5b00;
    }
  }

  .verifyInput {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    opacity: 0;
  }
}

.exchanges {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 15px;
  margin-top: 30px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    padding: 10px;
    border: 2px solid rgb(245, 245, 243);
    border-radius: 8px;
    transition: all 100ms ease 0s;

    img {
      max-width: 100%;
    }
  }
}

.socialButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.stepContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -300px;
}
