.advertisementContainer {
  .adCard {
    background: hsla(0, 0%, 100%, .24);
  }
}

.advertisement {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .adMedia {
    width: 100%;

    :global(.ant-image) {
      width: 100% !important;
    }

    .adMediaImg {
      width: 100%;
      cursor: 'pointer';
      max-height: 60vh;
    }
  }
}

.daoCardContent {
  display: flex;
  width: 100%;
  height: 100%;
  background: radial-gradient(66.32% 66.32% at 54.13% 113.95%, rgba(255, 182, 66, .2) 0, rgba(242, 89, 255, 0) 100%), linear-gradient(211.99deg, rgba(255, 93, 66, .2) -4.17%, rgba(45, 143, 234, 0) 68.7%), radial-gradient(100% 100% at 28.65% 0, #f7cfa4 0, rgba(250, 247, 254, 0) 100%);
}

.countDown {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  line-height: 50px;

  span {
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 900;
    font-size: 0.8rem;
  }
}

.instructions {
  width: 100%;
  padding-bottom: 10px;

  .instructionTitle {
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
  }

  .instruction {
    border-radius: 10px;
    margin: 10px;
    background: hsla(0, 0%, 100%, .5);
    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;

    &.withLink:hover {
      cursor: pointer;
      background: hsla(0, 0%, 100%, .9);
    }

    .instructionText {
      text-align: left;
      flex-grow: 1;
    }
  }
}

.buttonContainer {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .actionBtn {
    margin-bottom: 10px;
  }

  :global(.ant-btn) {
    width: fit-content !important;
  }
}

.share {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;

  .shareButton {
    margin-right: 10px;
  }
}

.userCard {
  border: 2px solid rgba(244, 245, 246, 1);
  max-width: 1920px;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  background: rgba(244, 245, 246, 1);


  .user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 200px;

    .avatar {
      width: 180px;
      height: 180px;
      border-radius: 100%;
    }

    .info {
      color: rgb(36, 39, 42);
      font-weight: bold;
      font-size: 44px;
      text-align: center;
      margin-left: 20px;

      .did {
        font-size: 12px;
        font-weight: 900;
        background: #ff5b00;
        color: #fff;
        padding: 2px 8px;
        border-radius: 32px;
      }

      .assetsData {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}

.trade {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .pairCoins {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .pairCoinsItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid rgb(237, 238, 242);
      border-radius: 20px;
      background-color: rgb(247, 248, 250);
      padding: 1rem 0.75rem;
      margin-top: 2px;
      margin-bottom: 2px;
      width: 100%;

      .pairCoinsSelect {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .pairCoin {
          flex: 1;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          box-shadow: rgba(0, 0, 0, .08) 0px 6px 10px;
          background-color: rgb(255, 255, 255);
          padding: 8px;
          border-radius: 16px;
          margin-right: 5px;

          .pairCoinsItemIcon {
            width: 24px;
            height: 24px;
            border-radius: 24px;
            margin-right: 5px;
          }

          .pairCoinsItemLabel {
            font-size: 13px;
            font-weight: 900;
          }
        }

        .pairCoinsItemInput {
          flex: 2;
        }

        input {
          display: flex;
          font-weight: 600;
          background-color: transparent;
          font-size: 24px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          appearance: textfield;
          text-align: right;
          border: unset;
          outline: none;
          border-radius: 12px;
          background-color: unset !important;

          &:focus {
            border: none;
            box-shadow: none;
          }
        }
      }

      .pairCoinsBalance {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;

        .balance {
          flex: 4;
          font-weight: 600;
          font-size: 12px;
          color: rgb(86, 90, 105);
          text-align: left;
        }

        .maxButton {
          flex: 1;
          padding: 0;
          font-weight: 900;
        }
      }
    }

    .pairCoinsSwitchButton {
      margin-top: -16px;
      margin-bottom: -16px;
    }
  }

  .pairCoinsFlat {
    margin-top: 10px;
    font-weight: 900;
    font-size: 12px;
    color: #000000;
  }

  .submitButton {
    margin-top: 10px;
  }
}

.tradeModal {
  .input {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }

  :global(.ant-input-number-input) {
    text-align: center !important;
    font-weight: 600;
    font-size: 70px;
    padding: 0px;
    height: 80px !important;
    border: 0px;
    color: #ff5b00;
  }

  .field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    background-color: rgba(243, 243, 243, 1);
    border-radius: 8px;
    transition: all 500ms ease 0s;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-top: 0;

    .title {
      color: #272729;
      font-weight: 900;
      margin: 0;
    }

    .value {
      color: #272729;
      font-weight: 600;
      font-size: 16px;
      text-align: right;
    }
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 35px;
  max-width: 1200px;
  width: 100%;
  margin-top: -50px;

  .topBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .sponsored {
      display: flex;
      height: 3.5rem;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      border-radius: 9999px;
      background: hsla(0, 0%, 100%, .4);
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      box-shadow: 0px 12px 40px rgba(31, 47, 70, 0.08);

      span {
        color: inherit;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 900;
        font-size: .75rem;
      }

      .avatar {
        margin-right: 10px;
        height: 30px;
        width: 30px;
        border-radius: 100%;
        opacity: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .advertisement {
    .cover {
      .adMedia {
        .adMediaImg {
          max-height: 100vh !important;
        }
      }
    }
  }

  .container {
    width: 100%;
    padding: 15px;

    .topBar {
      .sponsored {
        width: 100%;
      }
    }
  }

  .userCard {
    width: 100%;
    margin-top: 100px;
    border-radius: 0 !important;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

    .user {
      flex-direction: column;

      .avatar {
        margin-top: -100px;
      }

      .info {
        margin-top: 20px;
        margin-left: 0;
      }
    }
  }
}

@keyframes fingerHandle {
  0% {
    transform: none;
  }

  70% {
    transform: scale3d(.8, .8, .8);
  }

  100% {
    transform: none;
  }
}